#_GB_NAV_{border-bottom:solid 1px #ccc;height:40px; background-color:#fff;position:relative; z-index:999999999}#_GB_NAV_ ._MAIN_{position:relative;width:980px;left:50%;margin-left:-490px;height:40px;line-height:40px}._MAIN_ ._LOGO_{height:40px;width:165px;display:block;background:url() no-repeat left center}._MAIN_ #_AD_{position:absolute;left:250px;width:165px;height:40px;top:0}#_AD_ a{width:165px;height:40px;display:block}#_AD_BOX_{border:solid 1px #ccc;position:absolute;top:40px;height:100px;left:-250px}._MAIN_ ._LINKS_{position:absolute;top:0;right:0}._LINKS_ ul{margin:0;padding:0;float:left}._LINKS_ li{float:left;list-style-type:none}._LINKS_ a{margin:0 7px;text-decoration:none;font-size:12px;color:#666;line-height:40px;}._LINKS_ #_GAMES_{float:left}._LINKS_ ._GM_TAG_{border-radius:4px;border:solid 1px #ccc;padding:2px 5px}.WED{font-family:"Webdings";font-size:14px}#_GAME_BOX_{border:solid 1px #ccc;position:absolute;top:42px;width:500px;right:0;background-color:#eee;padding:5px;z-index:999;}#_GAME_BOX_ ul {
	float: left;
	width: 200px;
	margin: 0px;
	line-height: 35px;
	background-color:#FFFFFF;
}
#_GAME_BOX_ ul .dt {
	color: #09C;
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
	border: solid 1px #ccc;
	margin: -1px 0px 0 -1px;
	
}
#_GAME_BOX_ ul li {
	border: solid 1px #ccc;
	line-height: 30px;
	margin: -1px 0px 0 -1px;
	padding-left: 0px;
	display:block;
	width:100%;
	list-style-type:none;
}
#_GAME_BOX_ ul li a {
	font-size: 12px;
	text-decoration: none;
	display: block;
line-height:30px;
}
#_GAME_BOX_ ul li a,#_GAME_BOX_ ul li a:visited,#_GB_NAV_ a,#_GB_NAV_ a:visited{
	color: #000000;
	
}
#_GAME_BOX_ li a:hover {
	text-decoration: underline;
}#_GAME_BOX_ ._N_{background:url(http://i1.gbimg.cn/www/nav/nh.png) no-repeat 166px 9px}#_GAME_BOX_ ._H_{background:url(http://i1.gbimg.cn/www/nav/nh.png) no-repeat 166px -13px}._BTNS_{float:left;padding:1px 3px}._BTNS_ a{display:block;width:90px;height:60px;margin:2px}._SHOP_{background:url(http://i1.gbimg.cn/www/nav/shopicon_2.png)}._SHOP_:hover{background:url(http://i1.gbimg.cn/www/nav/shopicon_1.png)}._TMALL_{background:url(http://i1.gbimg.cn/www/nav/tmallicon_2.png)}._TMALL_:hover{background:url(http://i1.gbimg.cn/www/nav/tmallicon_1.png)}._WEIBO_{background:url(http://i1.gbimg.cn/www/nav/weiboicon_2.png)}._WEIBO_:hover{background:url(http://i1.gbimg.cn/www/nav/weiboicon_1.png)}
