html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button,select,option,textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "微软雅黑"
}

html {
    font-size: 16px
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul,li {
    list-style: none
}

blockquote,q {
    quotes: none
}

input {
    outline: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0;
    vertical-align: top;
    width: 100%
}

select,input {
    vertical-align: middle
}

.clear {
    display: block !important;
    clear: both !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0
}

.spacer {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0
}

a {
    text-decoration: none
}

a {
    color: #535353
}

a:hover {
    color: #f00
}

input[type="button"],input[type="submit"],input[type="reset"],input[type="text"] {
    -webkit-appearance: none
}

textarea {
    -webkit-appearance: none
}

button,input,select,option,textarea {
    outline: medium
}

button {
    cursor: pointer
}

textarea {
    resize: none
}

.fl {
    float: left
}

.fr {
    float: right
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(10%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.head_nav {
    width: 100%;
    height: 3.125rem;
    background: url("head_title.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/head_title.jpg*/ no-repeat;
    background-size: 100%;
    position: fixed;
    z-index: 99
}

.head_nav .logo {
    width: 7.812rem;
    float: left;
    margin-left: .625rem
}

.head_nav .title {
    float: left;
    color: #cfaf70;
    font-size: .875rem;
    padding: 1rem 0 0 .625rem
}

.head_nav .menu {
    width: 2.062rem;
    position: absolute;
    top: .625rem;
    right: .937rem
}

.head_nav .menu span {
    width: 2.062rem;
    height: .187rem;
    background: #cfaf70;
    display: block;
    margin-top: .312rem;
    border-radius: .312rem
}

.dropBox {
    width: 6.187rem;
    position: fixed;
    top: 3.125rem;
    right: -50%;
    background: #000;
    overflow: hidden;
    z-index: 9999;
    opacity: .8
}

.dropBox ul li {
    height: 2.375rem;
    text-align: center;
    font-size: .875rem;
    line-height: 2.375rem;
    color: #e7c47f
}

.dropBox ul li a {
    color: #e7c47f;
    width: 100%;
    height: 100%
}

.head_1 {
    width: 100%;
    padding-top: 3.562rem;
    overflow: hidden;
    background: url("head_bg_1.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/head_bg_1.jpg*/ no-repeat;
    background-size: 100%
}

.head_1 .banner_box {
    width: 22.562rem;
    height: 11.062rem;
    position: relative;
    margin: 0 auto 1.656rem auto
}

.head_1 .swiper-container_1 {
    width: 100%;
    height: 100%;
    position: relative
}

.head_1 .swiper-container_1 .swiper-slide {
    position: relative
}

.head_1 .swiper-container_1 .swiper-slide em {
    font-size: .75rem;
    color: #fafafa;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 92%;
    padding: 0 4%;
    height: 2.343rem;
    background: url("banner_txt.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/banner_txt.png*/ repeat-x;
    line-height: 2.343rem
}

.head_1 .swiper-pagination_1 {
    text-align: right;
    position: absolute;
    bottom: .375rem;
    width: 100%;
    z-index: 9;
    padding-right: .625rem
}

.head_1 .swiper-pagination_1 span {
    width: .906rem;
    height: .906rem;
    background: url("tb_img.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/tb_img.png*/ no-repeat left top;
    background-size: 100%;
    opacity: 1
}

.head_1 .swiper-pagination_1 span.swiper-pagination-bullet {
    margin: 0 .125rem
}

.head_1 .swiper-pagination_1 span.swiper-pagination-bullet-active {
    background: url("tb_img.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/tb_img.png*/ no-repeat left -0.906rem;
    background-size: 100%
}

.head_1 .news_main {
    overflow: hidden;
    color: #e5e5e5
}

.head_1 .news_main .news_title {
    border-bottom: 2px solid #313131;
    overflow: hidden
}

.head_1 .news_main .news_title li {
    width: 33.3%;
    float: left;
    font-size: .937rem;
    text-align: center;
    height: 1.687rem
}

.head_1 .news_main .news_title li.hover {
    color: #cfaf70;
    border-bottom: 4px solid #cfaf70;
    margin-bottom: -0.125rem
}

.head_1 .news_main .news_list {
    padding: 0 1.062rem;
    overflow: hidden;
    display: none
}

.head_1 .news_main .news_list ul {
    height: 12.968rem;
    overflow: hidden
}

.head_1 .news_main .news_list ul li {
    height: 2.125rem;
    border-bottom: 1px dashed #484748;
    line-height: 2.125rem;
    font-size: .875rem
}

.head_1 .news_main .news_list ul li a {
    color: #e5e5e5
}

.head_1 .news_main .news_list ul li i {
    width: 3.75rem;
    float: left
}

.head_1 .news_main .news_list ul li span {
    width: 12.312rem;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.head_1 .news_main .news_list ul li em {
    width: 3.125rem;
    float: right
}

.head_1 .news_main .news_list .more_btn {
    width: 21.312rem;
    margin: .937rem auto 1.23rem auto
}

.head_2 {
    position: relative;
    overflow: hidden
}

.head_2 .swiper-container_2 {
    overflow: hidden
}

.head_2 .swiper-container_2 .swiper-slide {
    width: 100%;
    height: 25.062rem;
    position: relative;
    overflow: hidden
}

.head_2 .swiper-container_2 .swiper-slide .blrw {
    position: absolute;
    top: 4.687rem;
    left: 0
}

.head_2 .swiper-container_2 .swiper-slide .cyrw {
    position: absolute;
    top: 4.375rem;
    left: 0
}

.head_2 .swiper-container_2 .swiper-slide .ywyrw {
    position: absolute;
    top: .937rem;
    right: 0
}

.head_2 .swiper-container_2 .swiper-slide .role_title {
    position: absolute;
    z-index: 99
}

.head_2 .swiper-container_2 .swiper-slide .role_title.lt1 {
    top: 9.218rem;
    right: .687rem
}

.head_2 .swiper-container_2 .swiper-slide .role_title.lt1 img {
    width: 10rem
}

.head_2 .swiper-container_2 .swiper-slide .role_title.lt2 {
    top: 8.75rem;
    left: .562rem
}

.head_2 .swiper-container_2 .swiper-slide .role_title.lt2 img {
    width: 10rem
}

.head_2 .swiper-container_2 .swiper-slide .role_title.lt3 {
    top: 9.375rem;
    left: .562rem
}

.head_2 .swiper-container_2 .swiper-slide .role_title.lt3 img {
    width: 10rem
}

.head_2 .swiper-container_2 .swiper-pagination_2 {
    background: #201f1f;
    height: 7rem;
    width: 100%;
    text-align: center;
    z-index: 999;
    padding-top: .625rem
}

.head_2 .swiper-container_2 .swiper-pagination_2 span {
    width: 4.625rem;
    height: 5.031rem;
    background: url("job_icon.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/j/job_icon.png*/ no-repeat;
    background-size: 100%;
    border-radius: initial
}

.head_2 .swiper-container_2 .swiper-pagination_2 span.swiper-pagination-bullet:nth-child(2) {
    background: url("job_icon2.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/j/job_icon2.png*/ no-repeat;
    background-size: 100%
}

.head_2 .swiper-container_2 .swiper-pagination_2 span.swiper-pagination-bullet:nth-child(3) {
    background: url("job_icon3.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/j/job_icon3.png*/ no-repeat;
    background-size: 100%
}

.head_2 .swiper-container_2 .swiper-pagination_2 span.swiper-pagination-bullet:nth-child(4) {
    background: url("job_icon4.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/j/job_icon4.png*/ no-repeat;
    background-size: 100%
}

.head_3 {
    height: 26.343rem;
    overflow: hidden;
    background: url("ts_bg.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/t/ts_bg.jpg*/ no-repeat;
    background-size: 100%
}

.head_3 h3 {
    padding: 2.25rem 0 2.125rem 0
}

.head_3 .feature_title {
    text-align: center;
    overflow: hidden;
    padding-bottom: .687rem
}

.head_3 .feature_title ul {
    padding-left: 2.312rem;
    font-size: .875rem;
    color: #997d46;
    line-height: 1.25rem
}

.head_3 .feature_title ul li {
    padding: 0 1.25rem;
    float: left;
    position: relative
}

.head_3 .feature_title ul li.hover {
    font-weight: bold;
    color: #d3ad63
}

.head_3 .feature_title ul li.hover i {
    font-weight: normal;
    color: #997d46
}

.head_3 .feature_title ul li i {
    position: absolute;
    right: 0;
    top: 0
}

.head_3 .imglist_box {
    display: block;
    width: 21.5rem;
    height: 12.375rem;
    margin-left: 1.312rem;
    transform: none;
    border: 1px solid #46422c
}
.head_3 .m_more{
    width:6.8rem;
    display: block;
    margin:1rem auto 0;
}
.head_3 .m_more img{
   width:100%;
}
.head_3 .imglist_box ul {
    height: 12.562rem;
    margin: -0.468rem 0 0 -0.437rem;
    overflow: hidden
}

.head_3 .imglist_box ul li {
    float: left
}

.head_3 .imglist_box ul li img {
    width: 21.687rem;
    height: 12.562rem
}

.head_4 {
    overflow: hidden;
    position: relative
}

.head_4 .cjfw_bg {
    height: 33.687rem;
    display: none
}

.head_4 .cjfw_bg.ylbg {
    background: url("yl_bg.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/c/yl_bg.jpg*/ no-repeat;
    background-size: 100%
}

.head_4 .cjfw_bg.gmybg {
    background: url("gmy_bg.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/c/gmy_bg.jpg*/ no-repeat;
    background-size: 100%
}

.head_4 .cjfw_bg.tlcbg {
    background: url("tlc_bg.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/c/tlc_bg.jpg*/ no-repeat;
    background-size: 100%
}

.head_4 .cjfw_bg.yywbg {
    background: url("yyw_bg.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/c/yyw_bg.jpg*/ no-repeat;
    background-size: 100%
}

.head_4 .center {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.head_4 .center h3 {
    padding-top: 2.25rem
}

.head_4 .center .top_img {
    width: 4.031rem;
    position: absolute;
    top: 0;
    left: 9.875rem;
    z-index: 9
}

.head_4 .center .big_nav {
    padding: 1rem 0 0 .625rem;
    overflow: hidden
}

.head_4 .center .big_nav ul li {
    width: 5.25rem;
    height: 1.531rem;
    float: left;
    background: url("btn_bg_01.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/c/btn_bg_01.png*/ no-repeat;
    background-size: 100%;
    color: #6d3702;
    font-size: .75rem;
    text-align: center;
    line-height: 1.5rem;
    margin-right: .375rem
}

.head_4 .center .big_nav ul li.hover {
    background: url("btn_bg_1.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/c/btn_bg_1.png*/ no-repeat;
    background-size: 100%
}

.head_4 .center .imgtab_con {
    padding-top: 5.187rem;
    height: 16.781rem
}

.head_4 .center .imgtab_con .tab_nav ul {
    overflow: hidden;
    text-align: center
}

.head_4 .center .imgtab_con .tab_nav ul li {
    padding: 0 1.25rem;
    position: relative;
    display: inline-block;
    font-size: .875rem;
    color: #997d46;
    line-height: 1.25rem
}

.head_4 .center .imgtab_con .tab_nav ul li.hover {
    font-weight: bold;
    color: #d3ad63
}

.head_4 .center .imgtab_con .tab_nav ul li.hover i {
    font-weight: normal;
    color: #997d46
}

.head_4 .center .imgtab_con .tab_nav ul li i {
    position: absolute;
    right: 0;
    top: 0
}

.head_4 .center .imgtab_con .img_tab {
    width: 21.7rem;
    height: 12.375rem;
    border: 1px solid #ddcfb2;
    margin: 1.093rem 0 0 1.312rem
}

.head_4 .center .imgtab_con .img_tab ul {
    margin: -0.281rem 0 0 -0.312rem;
    overflow: hidden;
    height: 14.375rem
}

.head_4 .center .imgtab_con .img_tab ul li {
    width: 21.437rem;
    float: left;
    position: relative
}

.head_4 .center .imgtab_con .img_tab ul li img {
    width: 21.25rem;
    height: 12.312rem;
    display: block;
    overflow: hidden;
    border: .125rem solid #c9a254
}

.head_4 .center .imgtab_con .img_tab ul li .swiper-container {
    width: 21.437rem;
    height: 14.4rem
}

.head_4 .center .imgtab_con .img_tab ul li .swiper-container .swiper-pagination {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99
}

.head_4 .center .imgtab_con .img_tab ul li .swiper-container .swiper-pagination span {
    width: 1.062rem;
    height: 1.031rem;
    background: url("d.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/d.png*/ no-repeat;
    background-size: 100%;
    opacity: 1
}

.head_4 .center .imgtab_con .img_tab ul li .swiper-container .swiper-pagination span.swiper-pagination-bullet {
    margin: 0 .125rem
}

.head_4 .center .imgtab_con .img_tab ul li .swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
    background: url("da.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/da.png*/ no-repeat;
    background-size: 100%
}

.head_4 .center .imgtab_con .img_tab ul li .swiper-wrapper {
    width: 21.437rem;
    height: 12.312rem
}

.head_5 {
    height: 27.062rem;
    background: url("video_bg.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/v/video_bg.png*/ no-repeat;
    background-size: 100%;
    margin-top: -1.75rem;
    position: relative;
    z-index: 9
}

.head_5 h3 {
    padding-top: 2.812rem
}

.head_5 .video_nav {
    padding-top: 1.5rem
}

.head_5 .video_nav ul {
    overflow: hidden;
    text-align: center
}

.head_5 .video_nav ul li {
    padding: 0 1.25rem;
    position: relative;
    display: inline-block;
    font-size: .875rem;
    color: #997d46;
    line-height: 1.25rem
}

.head_5 .video_nav ul li.hover {
    font-weight: bold;
    color: #d3ad63
}

.head_5 .video_nav ul li.hover i {
    font-weight: normal;
    color: #997d46
}

.head_5 .video_nav ul li i {
    position: absolute;
    right: 0;
    top: 0
}

.head_5 .tabbox {
    width: 23.437rem;
    height: 18rem;
    overflow: hidden
}

.head_5 .tabbox .list_v {
    width: 100%;
    height: 18.125rem
}

.head_5 .tabbox .list_v .swiper-container {
    padding-top: .781rem;
    height: 15.8rem;
    position: relative
}

.head_5 .tabbox .list_v .swiper-container .swiper-wrapper {
    padding-left: 1.312rem
}

.head_5 .tabbox .list_v .swiper-container .swiper-pagination {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 99
}

.head_5 .tabbox .list_v .swiper-container .swiper-pagination span {
    width: 1.062rem;
    height: 1.031rem;
    background: url("d.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/d.png*/ no-repeat;
    background-size: 100%;
    opacity: 1
}

.head_5 .tabbox .list_v .swiper-container .swiper-pagination span.swiper-pagination-bullet {
    margin: 0 .125rem
}

.head_5 .tabbox .list_v .swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
    background: url("da.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/da.png*/ no-repeat;
    background-size: 100%
}

.head_5 .tabbox .list_v li {
    position: relative;
    width: 10.187rem;
    height: 6.343rem;
    border: 1px solid #483d2b;
    margin: 0 .76rem .937rem 0;
    float: left
}

.head_5 .tabbox .list_v li i {
    margin: -0.156rem 0 0 -0.156rem;
    border: 1px solid #997d46;
    display: block;
    width: 10.187rem
}

.head_5 .tabbox .list_v li .gray_v {
    width: 10.312rem;
    height: 6.375rem;
    display: block;
    background: #000;
    opacity: .2;
    position: absolute;
    top: -0.156rem;
    left: -0.156rem
}

.head_5 .tabbox .list_v li span {
    width: 1.687rem;
    height: 1.687rem;
    background: url("video_btn-1.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/v/video_btn.png*/ no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.843rem 0 0 -0.843rem;
    z-index: 99
}

.head_6 {
    height: 24.593rem;
    background: url("media_bg.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/m/media_bg.jpg*/ no-repeat;
    background-size: 100%
}

.head_6 h3 {
    padding-top: 3.281rem
}

.head_6 .media_box {
    padding-top: 1.093rem;
    text-align: center;
    color: #e5e5e5;
    font-size: .75rem
}

.head_6 .media_box .wximg {
    width: 7.687rem;
    border: 1px solid #5e5655;
    display: block;
    margin: 0 auto
}

.head_6 .media_box .ss_txt {
    color: #d9c38b;
    padding-top: .687rem
}

.head_6 .media_box .ss_txt img {
    width: .562rem;
    font-size: .875rem;
    padding-top: .312rem
}

.head_6 .media_box .btn_box {
    width: 100%;
    text-align: center;
    padding-top: 1.406rem
}

.head_6 .media_box .btn_box img {
    width: 8.093rem;
    margin-right: .375rem
}

.service_box {
    height: 7.312rem;
    background: #131519;
    font-size: .875rem;
    text-align: center;
    color: #e5e5e5
}

.service_box dl {
    padding: 1.312rem 0 .625rem 5.937rem;
    overflow: hidden
}

.service_box dl dt {
    width: 2.218rem;
    height: 2.218rem;
    float: left;
    border: 1px solid #494444
}

.service_box dl dt i {
    width: 2.218rem;
    height: 2.218rem;
    background: #8c7c5d;
    color: #131519;
    font-size: .875rem;
    border: 1px solid #494444;
    display: block;
    text-align: center;
    margin: -0.125rem 0 0 -0.125rem;
    line-height: 1.2rem
}

.service_box dl dd {
    float: left;
    padding-left: .468rem;
    text-align: left
}

.service_box dl dd a {
    color: #e5e5e5
}

.service_box span {
    width: 7.312rem;
    height: 1.5rem;
    border: 1px solid #d3ae66;
    color: #d3ae66;
    display: block;
    border-radius: .937rem;
    line-height: 1.5rem;
    float: left
}

.service_box span a {
    color: #d3ae66
}

.service_box span.s1 {
    margin: 0 1.062rem 0 3.875rem
}

.service_box span img {
    width: .562rem;
    padding-top: .437rem
}

.gray {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    opacity: .8;
    z-index: 999;
    display: none
}

.reg_box {
    width: 19.06rem;
    height: 25.2rem;
    background: url("bg.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/bg.jpg*/ no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 4.75rem;
    left: 1.812rem;
    z-index: 9999;
    display: none
}

.reg_box h2 {
    text-align: center;
    padding-top: 1.34rem;
    height: 1.34rem;
    width: 9.9rem;
    margin: 0 auto
}

.r_close {
    width: 1.56rem;
    height: 1.56rem;
    background: url("close.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/close.png*/ no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: -1.56rem
}

.r_box {
    width: 15.31rem;
    margin: 0 auto
}

.succbox {
    text-align: center;
    color: #9b7a38;
    display: none
}

.succbox h2 {
    font-size: 1.187rem
}

.succbox span {
    padding: 1.875rem 0;
    display: block
}

.succbox .backbtn {
    width: 15.281rem;
    height: 2.062rem;
    margin: 0 auto;
    background: #d4af65;
    color: #271a09;
    font-size: .875rem;
    line-height: 2.062rem
}

.eject {
    width: 100%;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 9999;
    display: none
}

.eject .close {
    width: 1.406rem;
    height: 1.406rem;
    position: absolute;
    top: -1.875rem;
    right: 0;
    background: url("close_1.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/main/close_1.png*/ no-repeat;
    background-size: 100%
}

.eject p {
    width: 100%
}

.eject p video {
    width: 100%;
    height: auto
}