/* 
* @Author: shmily
* @Date:   2018-09-26 09:11:24
* @Last Modified by:   shmily
* @Last Modified time: 2018-09-30 11:22:09
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,button,textarea,p,th,td,blockquote{margin:0;padding:0;    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";}
html,body{-webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;width:100%;height:100%;max-width:750px;position:relative}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;margin:0;padding:0;}
fieldset,img{border:0;}
:focus{outline:0;}
input[type="button"],input[type="submit"],input[type="text"],textarea{-webkit-appearance: none;}
:link,:visited,ins{text-decoration:none;}
.clearfix:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix{zoom: 1}
ul,li{list-style:none}
::-webkit-scrollbar{ width: 0;}
em{font-style: normal}
.text-right{text-align: right}
/* 小屏幕 320px */
@media (min-width: 320px) {
    html{font-size: 42.6667px;}
}

/* 小屏幕 375px */
@media (min-width:360px) {
    html{font-size: 48px;}
}

@media (min-width:375px) {
    html{font-size: 50px;}
}
@media (min-width:412px) {
    html{font-size: 54.9333px;}

}
/* 小屏幕 414px */
@media (min-width:414px) {
    html{font-size: 55.2px;}

}
@media (min-width:750px) {
    html{font-size: 100px;}

}

body,html{
    background:#fff;
}

.commonBox {
   /* position: fixed;*/
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height:12.54rem;
    z-index: 2;
    max-width: 750px;
    background: #fff url("bg.jpg-id=1.jpg")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/list/bg.jpg?id=1*/ no-repeat top center;
    background-size: 100%;
}

.m-page {
    width: 100%;  
    padding-bottom: .20rem;
}

.m-page .header {
    height: 1.12rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.m-page .header img {
    width: 3.65rem;
    height: .39rem;
    display: block;
}

.m-page .content {
    width: 100%;
    margin: 0 auto;
}

.m-page .content .goback {
    height: .9rem;
    border-bottom: 1px solid #b6b8bc;
    text-align: center;
    position: relative;
}

.m-page .content .goback .new_plan{
    height:.7rem;
    color:#333;
    font-size: .18rem;
    line-height: .9rem;
    position: absolute;
    bottom: 0;
    left:.5rem;
    width:4.5rem;
}
.m-page .content .goback .new_plan .n_t{
    height:.7rem;
    width:1.07rem;
    color:#333;
    font-size: .3rem;
    line-height: .9rem;
    float: left;
    display: block;
}
.m-page .content .goback .new_plan .n_t.on{
    border-bottom: 2px solid #a68440;
    color:#a68440;
}
.m-page .content .goback .back_in {
    width: 1.84rem;
    height: .48rem;
    display: inline-block;
    position: absolute;
    right: 0.5rem;
    top:0.3rem;
    background: url("back-1.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/list/back.png*/ no-repeat 0;
    background-size: 1.84rem .48rem
}

.m-page .content h1 {
    font-size: .36rem;
    color: #6e572a;
    text-align: center;
    padding: .35rem 0 .1rem;
    line-height: .56rem;
}


.m-page .content .txtBox{
    width:7.5rem;
    margin:0 auto;
    display: none;
    height:6.2rem;
}
.m-page .content .txtBox ul{
    min-height:7.8rem;
}

.m-page .content .txtBox li {
    width:6.5rem;
    height:.74rem;
    border-bottom: 1px dotted #000;
    line-height: .74rem;
    margin-left:.5rem;
}

.m-page .content .txtBox li:last-child {   
    border-bottom: none;
}
.m-page .content .txtBox li .new_l{
    font-size: .28rem;
    float: left;
    width:5.5rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#000;
}
.m-page .content .txtBox li .new_r{
    float: right;
    font-size: .28rem;
    color:#000;
    display: block;
}

.m-page .content .linked {
    width: 3.68rem;
    height: .59rem;
    margin: .30rem auto;
    display: block;
}

.m-page .content .linked img {
    width: 3.68rem;
    height: .59rem;
    display: block;
}




.showMorehandle{
    width: 3.68rem;
    height: .59rem;
    margin: .30rem auto;
    display: block;
    background: url("more-1.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/list/more.png*/ no-repeat;
    background-size: 3.68rem .59rem;
    margin-bottom: 1rem;
}
.showMorehandle2{
    width: 3.68rem;
    height: .59rem;
    margin: .30rem auto;
    display: block;
    background: url("more-1.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/list/more.png*/ no-repeat;
    background-size: 3.68rem .59rem;
    margin-bottom: 1rem;
}
.showMorehandle3{
    width: 3.68rem;
    height: .59rem;
    margin: .30rem auto;
    display: block;
    background: url("more-1.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/list/more.png*/ no-repeat;
    background-size: 3.68rem .59rem;
    margin-bottom: 1rem;
}
.more_off{
    width: 3.68rem;
    height: .59rem;
    margin: .30rem auto;
    display: block;
    background: url("more_off.png")/*tpa=http://i1.gbimg.cn/zt/2018/09/29/list/more_off.png*/ no-repeat;
    background-size: 3.68rem .59rem;
    margin-bottom: 1rem;
}



/*底部开始*/
.m-foot{
    width: 100%;
    background: #000;
    color: #c8c8c8;
    height:2rem;
    /*padding:0 2%;*/
}
.m-foot .footlogo{
    width:1.96rem;
    padding-top: 0.2rem;
    float: left;
}
.m-foot .footlogo .footimg1{
    width:1.94rem;
    height:.47rem;
    display:block;
    background:url("logo-7.png")/*tpa=http://i1.gbimg.cn/zt/2017/08/18/wangyuan18/images/logo.png*/ no-repeat;
    background-size:1.94rem .47rem;
}
.m-foot .footlogo .footimg2{
    width:1.2rem;
    height:.59rem;
    display:block;
    margin-top:.2rem;
    background:url("left_logozl.png")/*tpa=http://i1.gbimg.cn/zt/2018/04/20/gjqt3x2018y20m/myc36x/imagesm/left_logozl.png*/ no-repeat;
    background-size:1.2rem .59rem;
}
.m-foot .footcont{
    width:70%;
    text-align: center;
    padding-top: 0.18rem;
    padding-right:3%;
    float: right;
    line-height:.36rem;
}
.m-foot .footcont .ffirst{
    color:#898989;
    font-size: 0.18rem;
    width:100%;
}
.m-foot .footcont .ffirst span{
    padding:0 0.04rem;
}
.m-foot .footcont .ffirst1{
    padding-top:0.2rem;
}
